.Header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  height: 100px;
  width: 100vw;
  margin-top: -11px;
  margin-left: -8px;
}
.Logo {
  height: 55px;
  width: 180px;
  margin-top: 20px;
  margin-left: 25px;
}

.IconButtons {
  margin-right: 40px;
  margin-top: -2px;
  height: 100px;
}

.OrderButton {
  display: inline-block;
  background-color: rgb(253, 140, 4);
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 10px;
  width: 80px;
  height: 40px;
  border-radius: 12px;
  font-family: "Titillium Web", sans-serif;
  margin-top: 30px;
}

.Icon {
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
}

.HeaderSelect {
  width: 80px;
  display: inline-block;
  margin-right: 30px;
}

.css-1n6sfyn-MenuList > div {
  padding: 0px;
}

@media (max-width: 600px) {
  body {
    background-color: red;
  }

  .Logo {
    height: 35px;
    width: 120px;
    margin-left: 15px;
  }

  .Icon {
    margin-right: 15px;
  }
}
